--
-- PostgreSQL database dump
--

\restrict ZCpCAwLgsfzwZMWNE9ZAD9fmo7O6xCHsGY0WTo7wKp0Y9KJZZXQ59W8HS7rmWhM

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ticket_types; Type: TYPE; Schema: public; Owner: app_admin
--

CREATE TYPE public.ticket_types AS ENUM (
    'ECONOMY',
    'BUSINESS',
    'FIRST_CLASS'
);


ALTER TYPE public.ticket_types OWNER TO app_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: airlines; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.airlines (
    id integer NOT NULL,
    mail character varying(120) NOT NULL,
    salt bytea NOT NULL,
    digest bytea NOT NULL,
    code character varying(2) NOT NULL,
    name character varying(100) NOT NULL,
    "PIVA" character varying(11) NOT NULL,
    logo character varying(255),
    "isFirstLogin" boolean NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.airlines OWNER TO app_admin;

--
-- Name: airlines_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.airlines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.airlines_id_seq OWNER TO app_admin;

--
-- Name: airlines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.airlines_id_seq OWNED BY public.airlines.id;


--
-- Name: airplanes; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.airplanes (
    id integer NOT NULL,
    model character varying(50) NOT NULL,
    letters integer NOT NULL,
    rows integer NOT NULL,
    airline integer,
    CONSTRAINT check_positive_letters CHECK ((letters > 0)),
    CONSTRAINT check_positive_rows CHECK ((rows > 0))
);


ALTER TABLE public.airplanes OWNER TO app_admin;

--
-- Name: airplanes_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.airplanes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.airplanes_id_seq OWNER TO app_admin;

--
-- Name: airplanes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.airplanes_id_seq OWNED BY public.airplanes.id;


--
-- Name: airports; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.airports (
    id integer NOT NULL,
    code character varying(3) NOT NULL,
    name character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    country character varying(100) NOT NULL
);


ALTER TABLE public.airports OWNER TO app_admin;

--
-- Name: airports_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.airports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.airports_id_seq OWNER TO app_admin;

--
-- Name: airports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.airports_id_seq OWNED BY public.airports.id;


--
-- Name: flights; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.flights (
    id integer NOT NULL,
    code character varying(10) NOT NULL,
    departure timestamp without time zone NOT NULL,
    arrival timestamp without time zone NOT NULL,
    duration integer NOT NULL,
    route integer NOT NULL,
    airline integer NOT NULL,
    airplane integer NOT NULL,
    CONSTRAINT check_arrival_after_departure CHECK ((arrival > departure)),
    CONSTRAINT check_duration_positive CHECK ((duration > 0))
);


ALTER TABLE public.flights OWNER TO app_admin;

--
-- Name: flights_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.flights_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.flights_id_seq OWNER TO app_admin;

--
-- Name: flights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.flights_id_seq OWNED BY public.flights.id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.routes (
    id integer NOT NULL,
    from_airport integer NOT NULL,
    to_airport integer NOT NULL,
    CONSTRAINT check_different_airports CHECK ((from_airport <> to_airport))
);


ALTER TABLE public.routes OWNER TO app_admin;

--
-- Name: itineraries; Type: MATERIALIZED VIEW; Schema: public; Owner: app_admin
--

CREATE MATERIALIZED VIEW public.itineraries AS
 SELECT json_build_object('id', f.id, 'duration', (f.duration)::text, 'from', from_.code, 'to', to_.code, 'departure', f.departure, 'arrival', f.arrival) AS flight1,
    NULL::json AS flight2,
    (f.duration)::text AS tot_duration,
    NULL::text AS stop_time
   FROM (((public.flights f
     JOIN public.routes r ON ((f.route = r.id)))
     JOIN public.airports from_ ON ((r.from_airport = from_.id)))
     JOIN public.airports to_ ON ((r.to_airport = to_.id)))
UNION ALL
 SELECT json_build_object('id', f1.id, 'duration', (f1.duration)::text, 'from', flight1_from_.code, 'to', flight1_to_.code, 'departure', f1.departure, 'arrival', f1.arrival) AS flight1,
    json_build_object('id', f2.id, 'duration', (f2.duration)::text, 'from', flight2_from_.code, 'to', flight2_to_.code, 'departure', f2.departure, 'arrival', f2.arrival) AS flight2,
    ((f1.duration + f2.duration))::text AS tot_duration,
    ((f2.departure - f1.arrival))::text AS stop_time
   FROM (((((((public.flights f1
     JOIN public.routes r1 ON ((f1.route = r1.id)))
     JOIN public.routes r2 ON ((r2.from_airport = r1.to_airport)))
     JOIN public.flights f2 ON ((f2.route = r2.id)))
     JOIN public.airports flight1_from_ ON ((r1.from_airport = flight1_from_.id)))
     JOIN public.airports flight1_to_ ON ((r1.to_airport = flight1_to_.id)))
     JOIN public.airports flight2_from_ ON ((r2.from_airport = flight2_from_.id)))
     JOIN public.airports flight2_to_ ON ((r2.to_airport = flight2_to_.id)))
  WHERE ((f2.departure > (f1.arrival + '02:00:00'::interval)) AND (r2.to_airport <> r1.from_airport))
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.itineraries OWNER TO app_admin;

--
-- Name: public_airlines; Type: VIEW; Schema: public; Owner: app_admin
--

CREATE VIEW public.public_airlines AS
 SELECT id,
    code,
    name,
    "PIVA",
    logo
   FROM public.airlines;


ALTER VIEW public.public_airlines OWNER TO app_admin;

--
-- Name: purchases; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.purchases (
    id integer NOT NULL,
    "user" integer,
    total_cost double precision NOT NULL,
    date timestamp without time zone NOT NULL,
    quantity integer NOT NULL,
    CONSTRAINT ck_quantity_positive CHECK ((quantity > 0)),
    CONSTRAINT ck_total_cost_non_negative CHECK ((total_cost >= (0)::double precision))
);


ALTER TABLE public.purchases OWNER TO app_admin;

--
-- Name: purchasesTickets; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public."purchasesTickets" (
    purchase integer NOT NULL,
    ticket integer NOT NULL
);


ALTER TABLE public."purchasesTickets" OWNER TO app_admin;

--
-- Name: purchases_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.purchases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.purchases_id_seq OWNER TO app_admin;

--
-- Name: purchases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.purchases_id_seq OWNED BY public.purchases.id;


--
-- Name: routes_airplanes; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.routes_airplanes (
    id integer NOT NULL,
    route integer NOT NULL,
    airplane integer NOT NULL,
    "startDate" timestamp without time zone NOT NULL,
    "endDate" timestamp without time zone NOT NULL,
    CONSTRAINT check_start_end_dates CHECK (("endDate" > "startDate"))
);


ALTER TABLE public.routes_airplanes OWNER TO app_admin;

--
-- Name: routes_airplanes_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.routes_airplanes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_airplanes_id_seq OWNER TO app_admin;

--
-- Name: routes_airplanes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.routes_airplanes_id_seq OWNED BY public.routes_airplanes.id;


--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_seq OWNER TO app_admin;

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    type public.ticket_types NOT NULL,
    price double precision NOT NULL,
    quantity integer NOT NULL,
    flight integer NOT NULL,
    CONSTRAINT ck_price_non_negative CHECK ((price >= (0)::double precision)),
    CONSTRAINT ck_quantity_non_negative CHECK ((quantity >= 0))
);


ALTER TABLE public.tickets OWNER TO app_admin;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickets_id_seq OWNER TO app_admin;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: app_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    mail character varying(120) NOT NULL,
    salt bytea NOT NULL,
    digest bytea NOT NULL,
    role character varying(20) NOT NULL,
    balance double precision NOT NULL,
    CONSTRAINT check_positive_balance CHECK ((balance >= (0)::double precision))
);


ALTER TABLE public.users OWNER TO app_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: app_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO app_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: airlines id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airlines ALTER COLUMN id SET DEFAULT nextval('public.airlines_id_seq'::regclass);


--
-- Name: airplanes id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airplanes ALTER COLUMN id SET DEFAULT nextval('public.airplanes_id_seq'::regclass);


--
-- Name: airports id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airports ALTER COLUMN id SET DEFAULT nextval('public.airports_id_seq'::regclass);


--
-- Name: flights id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights ALTER COLUMN id SET DEFAULT nextval('public.flights_id_seq'::regclass);


--
-- Name: purchases id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.purchases ALTER COLUMN id SET DEFAULT nextval('public.purchases_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Name: routes_airplanes id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes_airplanes ALTER COLUMN id SET DEFAULT nextval('public.routes_airplanes_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: airlines airlines_PIVA_key; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airlines
    ADD CONSTRAINT "airlines_PIVA_key" UNIQUE ("PIVA");


--
-- Name: airlines airlines_code_key; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airlines
    ADD CONSTRAINT airlines_code_key UNIQUE (code);


--
-- Name: airlines airlines_mail_key; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airlines
    ADD CONSTRAINT airlines_mail_key UNIQUE (mail);


--
-- Name: airlines airlines_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airlines
    ADD CONSTRAINT airlines_pkey PRIMARY KEY (id);


--
-- Name: airplanes airplanes_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airplanes
    ADD CONSTRAINT airplanes_pkey PRIMARY KEY (id);


--
-- Name: airports airports_code_key; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airports
    ADD CONSTRAINT airports_code_key UNIQUE (code);


--
-- Name: airports airports_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airports
    ADD CONSTRAINT airports_pkey PRIMARY KEY (id);


--
-- Name: flights flights_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT flights_pkey PRIMARY KEY (id);


--
-- Name: purchasesTickets purchasesTickets_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public."purchasesTickets"
    ADD CONSTRAINT "purchasesTickets_pkey" PRIMARY KEY (purchase, ticket);


--
-- Name: purchases purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.purchases
    ADD CONSTRAINT purchases_pkey PRIMARY KEY (id);


--
-- Name: routes_airplanes routes_airplanes_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes_airplanes
    ADD CONSTRAINT routes_airplanes_pkey PRIMARY KEY (id);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: flights unique_flight; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT unique_flight UNIQUE (code, route, departure);


--
-- Name: routes unique_route; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT unique_route UNIQUE (from_airport, to_airport);


--
-- Name: tickets uq_flight_type; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT uq_flight_type UNIQUE (flight, type);


--
-- Name: users users_mail_key; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_mail_key UNIQUE (mail);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: airplanes fk_airline; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.airplanes
    ADD CONSTRAINT fk_airline FOREIGN KEY (airline) REFERENCES public.airlines(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: flights fk_airline; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT fk_airline FOREIGN KEY (airline) REFERENCES public.airlines(id) ON UPDATE CASCADE ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED;


--
-- Name: routes_airplanes fk_airplane; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes_airplanes
    ADD CONSTRAINT fk_airplane FOREIGN KEY (airplane) REFERENCES public.airplanes(id) ON UPDATE CASCADE ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flights fk_airplane; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT fk_airplane FOREIGN KEY (airplane) REFERENCES public.airplanes(id) ON UPDATE CASCADE ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tickets fk_flight; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT fk_flight FOREIGN KEY (flight) REFERENCES public.flights(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: routes fk_from_airport; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT fk_from_airport FOREIGN KEY (from_airport) REFERENCES public.airports(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchasesTickets fk_purchase; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public."purchasesTickets"
    ADD CONSTRAINT fk_purchase FOREIGN KEY (purchase) REFERENCES public.purchases(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: routes_airplanes fk_route; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes_airplanes
    ADD CONSTRAINT fk_route FOREIGN KEY (route) REFERENCES public.routes(id) ON UPDATE CASCADE ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flights fk_route; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT fk_route FOREIGN KEY (route) REFERENCES public.routes(id) ON UPDATE CASCADE ON DELETE RESTRICT DEFERRABLE INITIALLY DEFERRED;


--
-- Name: purchasesTickets fk_ticket; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public."purchasesTickets"
    ADD CONSTRAINT fk_ticket FOREIGN KEY (ticket) REFERENCES public.tickets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: routes fk_to_airport; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT fk_to_airport FOREIGN KEY (to_airport) REFERENCES public.airports(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchases fk_user; Type: FK CONSTRAINT; Schema: public; Owner: app_admin
--

ALTER TABLE ONLY public.purchases
    ADD CONSTRAINT fk_user FOREIGN KEY ("user") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO app_admin;


--
-- PostgreSQL database dump complete
--

\unrestrict ZCpCAwLgsfzwZMWNE9ZAD9fmo7O6xCHsGY0WTo7wKp0Y9KJZZXQ59W8HS7rmWhM

